#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 580px;
}

#container h2 {
    display: block;
    max-width: 80%;
    font-size: 40px;
}

#container p {
    margin-top: 10px;
    max-width: 80%;
    font-size: 20px;
}

#rodape {
    text-align: center;
}

#div-login{
    width: 500px;
    margin: auto;
    margin-top: 150px;
}
.grid-login{
    background-color: #f2f2f2;
    border-radius: 8px;
    boder: 1px solid #ccc;
    margin-top: 8px;
    padding: 10px;
}
